alpe/alpe.dtd

<!ELEMENT alpeformacion (aula+)>
<!ELEMENT aula (puesto, aireacondicionado?, certificado*)>
    <!ATTLIST aula numero CDATA #REQUIRED>
    <!ELEMENT puesto (#PCDATA)>
    <!ELEMENT aireacondicionado EMPTY>
    <!ELEMENT certificado (nombre, horas)>
        <!ELEMENT nombre (#PCDATA)>
        <!ELEMENT horas (#PCDATA)>