inventario2/inventario2.dtd

<!ELEMENT inventario (objeto+)>
<!ELEMENT objeto (mesa|ordenador)>
  <!ATTLIST objeto codigo CDATA #IMPLIED>
  <!ELEMENT mesa (tipo?,localizacion)>
    <!ELEMENT tipo (#PCDATA)>
    <!ELEMENT localizacion (#PCDATA)>
  <!ELEMENT ordenador (procesador?, memoria?, discoduro?)>
    <!ELEMENT procesador (#PCDATA)>
    <!ATTLIST procesador fabricante CDATA #IMPLIED>
    <!ELEMENT memoria (#PCDATA)>
    <!ATTLIST memoria unidad CDATA #REQUIRED>
    <!ELEMENT discoduro (#PCDATA)>